{% extends 'master/base.html' %}

{% block content %}
    <h1>Profiel</h1>
    <div class="container">
    
        <div class="card shadow-lg border-0 rounded-4 overflow-hidden" style="width: 20rem;">
                
                {% if request.user.user_type == 'Student' %}
                    <!-- Image -->
                    <div class="text-center pt-3">
                        <img src="{{request.user.student_profile.image.url}}"
                            class="card-img-top rounded-circle shadow"
                            style="width: 120px; height: 120px; object-fit: cover;"
                            alt="profile">
                    </div>

                    <!-- Body -->
                    <div class="card-body text-center">
                        <h5 class="card-title fw-bold">Name: {{request.user.student_profile.name}} </h5>
                        <p class="card-text text-muted small">Address: {{request.user.student_profile.address}} </p>
                        <p class="card-text text-muted small">Phone: {{request.user.student_profile.phone}} </p>
                        <p class="card-text text-muted small">Roll: {{request.user.student_profile.roll}} </p>

                        <!-- Button -->
                        <a href="{% url 'std_update_pro' %}" class="btn btn-primary rounded-pill px-4">Edit</a>
                        <a href="#" class="btn btn-primary rounded-pill px-4">Change passwd</a>
                    </div>

                {% elif request.user.user_type == 'Admin' %}
                    <div class="text-center pt-3">
                        <img src="{{request.user.image.url}}"
                            class="card-img-top rounded-circle shadow"
                            style="width: 120px; height: 120px; object-fit: cover;"
                            alt="profile">
                    </div>

                    <!-- Body -->
                    <div class="card-body text-center">
                        <h5 class="card-title fw-bold">Name: {{request.user.username}} </h5>
                        <p class="card-text text-muted small">Address: {{request.user.email}} </p>

                        <!-- Button -->
                        <a href="#" class="btn btn-primary rounded-pill px-4">Update</a>
                        <a href="#" class="btn btn-primary rounded-pill px-4">Change passwd</a>
                    </div>

                {% else %}
                    <!-- Image -->
                    <div class="text-center pt-3">
                        <img src="{{request.user.teacher_profile.image.url}}"
                            class="card-img-top rounded-circle shadow"
                            style="width: 120px; height: 120px; object-fit: cover;"
                            alt="profile">
                    </div>

                    <!-- Body -->
                    <div class="card-body text-center">
                        <h5 class="card-title fw-bold">Name: {{request.user.teacher_profile.name}} </h5>
                        <p class="card-text text-muted small">Address: {{request.user.teacher_profile.address}} </p>
                        <p class="card-text text-muted small">Phone: {{request.user.teacher_profile.phone}} </p>

                        <!-- Button -->
                        <a href="#" class="btn btn-primary rounded-pill px-4">Update</a>
                        <a href="#" class="btn btn-primary rounded-pill px-4">Change passwd</a>
                    </div>
                {% endif %}

        </div>
    </div>
{% endblock %}